h1{
    font-family:"Baloo";
    text-align:center;
    color:black
}
.container{
    background-image:url('img/giphy.gif');
    background-attachment: fixed;
    height:100%;
    width:100%;
}
#nav{
    margin:0px;
}

#img{
    width:50px;
    height:50px;
    overflow:hidden;
}