h1{
    font-family:"Baloo";
    text-align:center;
    color:black
}
.container{
    background-image:url('img/giphy.gif');
    background-attachment: fixed;
    height:100%;
    width:100%;
}
#nav{
    margin:0px;
}

#cats,#hamsters{
    text-align: center;
}
/* #img{*/
/*  width:400px;*/
/*  height:300px;*/
/*}*/

/*small*/

 @media(min-width:768px) {
  h1 {
    font-size: 50px;
  }
  h2 {
    font-size: 40px;
  }
  h3{
      font-size:30px;
  }
/*#img{*/
/*  float:center;*/
/*}*/
}


/* medium+ */

@media(min-width:992px) {
  h1 {
    font-size: 70px;
  }
  h2 {
    font-size: 60px;
  }
  h3{
      font-size:50px;
  }

}


/* large+ */

@media(min-width:1200px) {
  h1 {
    font-size:90px;
  }
  h2 {
    font-size: 80px;
  }
  h3{
      font-size:70px;
  }
}


